* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 16px;
}

div {
border: 2px solid #2ecc71;
display: block;
font-family: sans-serif;
height: auto;
margin: 200px auto;
text-align: center;
vertical-align: center;
width: 20rem;
}
